# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp

# Project Specific
logs/
checkpoints/
*.png
*.jpg
*.svg
imgui.ini
# ignore all files with .Identifier extension
*.Identifier